// colores
.btn-danger-flat {
  color: $color-danger;
}
.btn-warning-flat {
  color: $color-warning;
}
.btn-danger {
  background-color: $color-danger;
}
.btn-warning {
  background-color: $color-warning;
}
// color background
.cb-primario {
  background-color: $color-primario-soh;
}
.cb-segundario {
  background-color: $color-segundario-soh;
}
.cb-terciario {
  background-color: $color-segundario-soh;
}
.cb-oscuro {
  background-color: $color-oscuro;
}
.cb-claro {
  background-color: $color-claro;
}
// color text
.ct-primario {
  color: $color-primario-soh;
}
.ct-segundario {
  color: $color-segundario-soh;
}
.ct-terciario {
  color: $color-terciario-soh;
}
.ct-oscuro {
  color: $color-oscuro;
}
.ct-claro {
  color: $color-claro;
}
// tamaños
.full-width {
  width: 100%;
  max-width: 100%;
}
// Alineamientos
.ta-left {
  text-align: left !important;
}
.ta-right {
  text-align: right !important;
}
// Float
.f-right {
  float: right;
}
.f-left {
  float: left;
}
// Display
.d-ib {
  display: inline-block;
}
// Textos
.fw-bold {
  font-weight: bold;
}
.upcase {
  text-transform: uppercase;
}
// Paddings
.p-0 {
  padding: 0;
}
