* {
  font-family: $confa;
}
html, body {
  overflow-x: hidden;

}
.table {
  th, td {
    vertical-align: middle !important;
  }
}
.title-header {
  text-transform: uppercase;
}
.btn-float {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  .top {
    bottom: unset;
    right: unset;
    top: 20px;
    left: 20px;
  }
}
.hnav {
  position: fixed;
  max-height: 100vh;
  overflow-y: scroll;
}
.tarjeta {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 10px 10px;
  box-shadow: 0px 5px 25px #eee;
  .cabezera {
    text-align: left;
    margin-top: 0px;
    padding: 10px 10px 5px 60px;
    font-size: 1.2em;
    text-transform: uppercase;
    position: relative;
    background-color: #C5E1A5;
    height: auto;
  }
  .imagen {
    overflow: hidden;
    text-align: center;
    background-color: #ffF;
    position: absolute;
    border-radius: 100%;
    top: -15px;
    left: -10px;
  }
  .border-image {
    border: 1px solid black;
  }
  small {
    font-style: italic;
    display: block;
    text-transform: capitalize;
  }
  .contenido p {
    padding: 10px 10px 5px 24px;
    max-height: 81px;
    overflow:hidden;
  }
}

.collapse.navbar-collapse {
  justify-content: flex-end;
  .nav-ul {
    & form {
      margin: 0px;
    }
    margin-right: auto;
  }
}
.page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.page-banner {
  padding-top: 4em;
  padding-bottom: 2em;
  margin-top: -20px;
  margin-bottom: 3em;
  color: white;
  background-color: rgb(0, 0, 0);
  position: relative;
  h1 {
    margin: 0px;
  }
  .page-banner--title {
    border-bottom: 1px solid #FFF;
    padding-bottom: .3em;
    margin-bottom: .5em;
  }
  .btn-float-page{
    position: absolute;
    bottom: -20px;
    right: 75px;
  }
}

#form {
  padding-right: 30px;
  p {
    text-align: right;
    margin: 0px;
  }
  label {
    font-size: 25px;
    color: grey;
  }
  label:hover,
  label:hover ~ label {
    color: $color-segundario-soh;
  }
  input[type="radio"] {
    display: none;
  }
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  input[type="radio"]:checked ~ label {
    color: $color-segundario-soh;
  }
}
.link-autor {
  color: white;
}

.chip {
  display: inline-block;
  padding: 5px 10px;
  font-size: .8em;
  border-radius: 25px;
  background-color: #f1f1f1;
  .closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: .9em;
    cursor: pointer;
  }

  .closebtn:hover {
      color: #000;
  }
}

.notify {
  position: relative;
  &.active[data-badge]::before {
    content:attr(data-badge);
     position:absolute;
     top: 2px;
     right: 7px;
     font-size:.7em;
     background: $red;
     color:white;
     width:18px;
     height:18px;
     text-align:center;
     line-height:18px;
     border-radius:50%;
     box-shadow:0 0 1px #333;
     z-index: 2;
  }
  & ~ .dropdown-menu {
    max-height: 40vh;
    overflow-y: scroll;
  }
}

.photo-container {
  padding: 50px;
  img {
    width: 100%;
    max-width: 100%;
  }
}

.titulo {
  margin-top: 50px;
  padding-bottom: .8em;
  font-size: 2.6em;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.nav-tabs-indigo {
  background-color: $indigo !important;
  .nav-link {
    color: #fff !important;
    &.active {
      color:  $indigo !important;
      background-color: #fff;
      border-color: #fff;
      &:hover {
        color:  #fff !important;
        border-color: #fff !important;
      }
    }
  }
  & ~ .card-block {
    height: 70vh;
    max-height: 70vh;
    overflow-y: auto;
  }
}

.nav-tabs-red {
  background-color: $red !important;
  .nav-link {
    color: #fff !important;
    &.active {
      color:  $red !important;
      background-color: #fff;
      border-color: #fff;
      &:hover {
        color:  #fff !important;
        border-color: #fff !important;
      }
    }
  }
  & ~ .card-block {
    height: 70vh;
    max-height: 70vh;
    overflow-y: auto;
  }
}



.material-input::-webkit-input-placeholder, .material-input::placeholder {
  transition: all 0.3s ease-in-out;
}
.material-input {
  width: 100%;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px $indigo;
  transition: all 0.4s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 97%, $indigo 3%);
  background-position: -100em 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: darken($indigo, 20%);
  font-family: $confa;
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder, &::placeholder {
      color: $indigo;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important;
    }
  }
}

.material-btn {
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 16px;
  min-height: 36px;
  border: unset;
  font-family: inherit;
  font-weight: bold;
}

.material-link {
  color: $blue;
  &:hover, &:active, &:focus {
    color: $blue;
  }
}

div#ManejadorDeAvisos[role=alert] {
  position: absolute;
  width: 100%;
  z-index: 100;
  & i.fa {
    vertical-align: middle;
    margin-right: 15px;
  }
  & strong {
    font-weight: bold;
  }
}
// hecho por pudgereyem, sacado de: https://codepen.io/pudgereyem/pen/PqBxQx?editors=1100



/* ==========  Select Field ========== */
/* Style Select Field */
// .material-select {
//   font-family: inherit;
//   width: 100%;
//   border: none !important;
//   border-bottom: 1px solid $select-border-color;
//   padding: 8px 16px;
//   background-color: transparent;
//   &:focus {
//     outline: none;
//   }
//   option {
//     padding: 8px 16px;
//   }
// }

.material-btn-float {
  position: fixed;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  background: #eee;
  box-shadow: 0px 3px 5px #999;
  cursor: pointer;
  &.flat-btn {
    transition: all .5s;
    background: #FFF;
    box-shadow: unset;
    &:hover {
      background: #eee;
      box-shadow: 0px 3px 5px #999;
    }
  }
  &.top-left {
    top: 20px;
    left: 20px;
  }
  &:active, &:focus {
    outline: none;
  }
}

.material-card, a.material-card {
  background-color: #fafafa;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 5px 10px;
  transition: all .5s;
  position: relative;
  border-radius: 2px;
  &:hover, &:active, &:focus {
    color: black;
    text-decoration: none;
    box-shadow: 0 10px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  & .content-header-icon {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 8px;
  }
  & .material-card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 16px;
    width: 100%;
    & img {
      display: flex;
      border-radius: 100%;
      width: 75px;
      height: 75px;
      margin-right: 16px;
    }
    .content-header-title {
      display: flex;
      flex-direction: column;
    }
    .header--title {
        margin: 0px;
        display: flex;
        font-size: 24px;
    }
    .header--subtitle {
        display: flex;
        font-size: 14px;
    }
  }
  .content-date {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #333;
    display: flex;
    font-size: 14px;
    color: $blue-grey;
    align-items: baseline;
  }
}

.material-card__big {
  margin: 8px;
  position: relative;
  border-radius: 2px;
  background-color: #fafafa;
  height: auto;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  &:hover {
    cursor: pointer;
  }
  .card-header__image {
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: block;
      border-radius: 1px 1px 0 0;
      opacity: 1;
      max-height: 175px; 
      position: relative;
      // image overlay
      &:after {
          content: "";
          display: block;
          position: absolute;
          background-color: rgba(0,0,0,0.1);
          top: 0;
          left: 0;
          right: 0;
          transition: all 500ms;
          bottom: 0; 
      }
      & .card-header__titulo {
          user-select: none;
          font-size: 1.5em;
          color: #FFF;
          margin: 0;
          padding: 0 16px;
          font-weight: 400;
          white-space: pre-wrap;
          text-overflow: ellipsis;
          overflow: hidden;
          position: absolute;
          bottom: 10px;
      }
  }
  // .card__subtitle {
  //     user-select: none;  
  //     font-size: 14px;
  //     display: block;
  //     white-space: nowrap;
  //     text-overflow: ellipsis;
  //     overflow: hidden;
  //     color: #000;
  //     padding: 0 16px;
  //     opacity: 0;
  // }
  .card__text {
      user-select: none;
      font-size: 1.2em;
      padding: 16px;
      margin: 0px;
      color: #000;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .card__action-bar {
      user-select: none;
      padding: 0 8px;
      border-top: 1px solid #E0E0E0;
      height: 52px;
    .card__button {
        -webkit-appearance: initial;
        -moz-appearance: initial;
        -ms-progress-appearance: initial;
        border: none;
        background-color: transparent !important;
        text-transform: uppercase;
        outline: none;
        position: relative;
        display: inline-block;
        line-height: 52px;
        padding: 0 16px;
        color: $color-oscuro; 
    }
  }
}

.chatroom {
  max-height: 55vh;
  height: 55vh;
  overflow-y: auto;
  & .pop-chat {
    padding-left: 30px;
    padding-right: 10px;
    margin: 5px 0px;
    &.active {
      padding-right: 30px;
      padding-left: 10px;
      & .bocadillo {
        border-radius: 12px 0px 12px 12px;
        background-color: $msg-active;
        &::after {
          border-left: 20px solid $msg-active;
          border-top: 20px solid  $msg-active;
          border-bottom: 15px solid transparent;
          border-right: 15px solid transparent;
          left: unset;
          right: -20px;
          top: 0px;
          // border-right: 15px solid transparent;
          // border-top: 15px solid transparent;
          // border-left: 15px solid #000;
          // border-bottom: 15px solid #000;
        }
      }
    }
    & .bocadillo {
      position: relative;
      padding: 10px;
      width: inherit;
      border-radius: 0px 12px 12px 12px;
      background-color: $msg-normal;
      font-family: "trebuchet ms", tahoma, verdana, sans­serif;
      font-size: 1.4em;
      &::after {
        content:"";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-top: 20px solid  $msg-normal;
        border-bottom: 15px solid transparent;
        left: -20px;
        top: 0px;
      }
      p {
        padding: 0px 20px 0px 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: .8em;
      }
      small {
        padding: 0px 20px 0px 30px;
        font-size: .6em;
        display: block;
        text-align: right;
      }
    }
  }
}
