* {
  font-family: $confa;
}
html, body {
  overflow-x: hidden;

}
.table {
  th, td {
    vertical-align: middle !important;
  }
}
.title-header {
  text-transform: uppercase;
}
.btn-float {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}
.hnav {
  position: fixed;
  max-height: 100vh;
  overflow-y: scroll;
}
.tarjeta {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 10px 10px;
  box-shadow: 0px 5px 25px #eee;
  .cabezera {
    text-align: left;
    margin-top: 0px;
    padding: 10px 10px 5px 60px;
    font-size: 1.2em;
    text-transform: uppercase;
    position: relative;
    background-color: #C5E1A5;
    height: auto;
  }
  .imagen {
    overflow: hidden;
    text-align: center;
    background-color: #ffF;
    position: absolute;
    border-radius: 100%;
    top: -15px;
    left: -10px;
  }
  .border-image {
    border: 1px solid black;
  }
  small {
    font-style: italic;
    display: block;
    text-transform: capitalize;
  }
  .contenido p {
    padding: 10px 10px 5px 24px;
    max-height: 81px;
    overflow:hidden;
  }
}

.collapse.navbar-collapse {
  justify-content: flex-end;
  .nav-ul {
    margin-right: auto;
  }
}
.page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.page-banner {
  padding-top: 4em;
  padding-bottom: 2em;
  margin-top: -20px;
  margin-bottom: 3em;
  color: white;
  background-color: rgb(0, 0, 0);
  position: relative;
  h1 {
    margin: 0px;
  }
  .btn-float-page{
    position: absolute;
    bottom: -20px;
    right: 75px;
  }
}

#form {
  padding-right: 30px;
  p {
    text-align: right;
    margin: 0px;
  }
  label {
    font-size: 35px;
    color: grey;
  }
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  input[type="radio"] {
    display: none;
  }
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  input[type="radio"]:checked ~ label {
    color: orange;
  }
}
.link-autor {
  color: white;
}

.chip {
  display: inline-block;
  padding: 5px 10px;
  font-size: .8em;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.notify {
  position: relative;
  &[data-badge]::before {
    content: attr(data-badge);
    position: absolute;
    border-radius: 100%;
    background-color: #F44336;
    display: block;
    padding: .3em;
    color: #FFF;
    font-size: 10px;
    max-height: 20px;
    // max-width: auto;
    top: 2px;
    right: 7px;
    font-family:verdana;
    text-align: center;
    line-height: 1;
    z-index: 2;
  }
}

.photo-container {
  padding: 50px;
  img {
    width: 100%;
    max-width: 100%;
  }
}

.titulo {
  margin-top: 50px;
  padding-bottom: .8em;
  font-size: 2.6em;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #eee;
}

// .form-group.material {
//   padding-top: 16px;
//   position: relative;
//   label {
//     font-size: .8em;
//     font-weight:normal;
//     position:absolute;
//     pointer-events:none;
//     top: 24px;
//     transition:0.2s ease all;
//     -moz-transition:0.2s ease all;
//     -webkit-transition:0.2s ease all;
//   }
//   .form-control {
//     font-size: .8em;
//     padding: 8px 0px 8px 0px;
//     transition: all .5s;
//     border-radius: unset;
//     border: unset;
//     border-bottom: 2px solid $out;
//     &:focus {
//       border-bottom: 2px solid $indigo;
//       & ~ label, &:valid ~ label {
//         top: 0px;
//         color: $indigo;
//         font-size:.7em;
//      }
//     }
//   }
// }
.material-input::-webkit-input-placeholder {
  transition: all 0.3s ease-in-out;
}
.material-input {
  width: 100%;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px $indigo;
  transition: all 0.4s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 97%, $indigo 3%);
  background-position: -100em 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: darken($indigo, 20%);
  font-family: $confa;
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      color: $indigo;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important;
    }
  }
}

.material-btn {
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 16px;
  min-height: 36px;
  border: unset;
  font-family: inherit;
  font-weight: bold;
}

.material-link {
  color: $blue;
  &:hover, &:active, &:focus {
    color: $blue;
  }
}

div#ManejadorDeAvisos[role=alert] {
  position: absolute;
  width: 100%;
  z-index: 100;
  & i.fa {
    vertical-align: middle;
    margin-right: 15px;
  }
  & strong {
    font-weight: bold;
  }
}
// hecho por pudgereyem, sacado de: https://codepen.io/pudgereyem/pen/PqBxQx?editors=1100



/* ==========  Select Field ========== */
/* Style Select Field */
.material-select {
  font-family: inherit;
  width: 100%;
  border: none !important;
  border-bottom: 1px solid $select-border-color;
  padding: 8px 16px;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  option {
    padding: 8px 16px;
  }
}

// select {
//   font-family: inherit;
//   background-color: transparent;
//   width: 100%;
//   padding: $select-padding 0;
//   font-size: $select-font-size;
//   color: $select-color;
//   border: none;
//   border-bottom: 1px solid $select-border-color;
// }
// /* Remove focus */
// select:focus {
//   outline: none
// }
// /* Hide label */
// .material-select label {display: none;}
// /* Use custom arrow */
// .material-select select {appearance: none}
// .material-select {
//   font-family: 'Roboto','Helvetica','Arial',sans-serif;
//   position: relative;
//     &:after {
//         position: absolute;
//         top: 0.75em;
//         right: 0.5em;
//         /* Styling the down arrow */
//         width: 0;
//         height: 0;
//         padding: 0;
//         content: '';
//         border-left: .25em solid transparent;
//         border-right: .25em solid transparent;
//         border-top: .375em solid $select-border-color;
//         pointer-events: none;
//     }
// }
