// familia de fuentes
$confa: 'Comfortaa', cursive;
// Color
$color-primario-soh: #009688;
$color-segundario-soh: #9CCC65;
$color-terciario-soh: #FFC107;

$color-oscuro: #333;
$color-claro: #eee;
$out: #aaa ;

$indigo: #3F51B5;
$blue: #2196F3;
$cyan: #00BCD4;
$teal: #009688;
$brown: #795548;
$pink: #E91E63;
$red: #EF5350;
$blue-grey: #607D8B;

$success: #4CAF50;
$warning: #FFC107;
$info: #03A9F4;
$err: #F44336;

$btn-shadow: rgba(#7c7c7c, 0.85) !important;
/* ==========  Select Field Variables ========== */

$msg-active: #C5E1A5;
$msg-normal: #dde2d8;
